a {
	color: cornflowerblue;
	text-decoration: none;
}

img {
  border: 1px solid #eee;
  width: 100%;
  max-width: 420px;
}

// <weight>: Use a value from 400 to 700

// .ibarra-real-nova {
//   font-family: "Ibarra Real Nova", serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: italic;
// }

// <weight>: Use a value from 100 to 900

// .inter {
//   font-family: "Inter", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
//   font-variation-settings:
//     "slnt" -10;
// }